[project]
name = "emmett-crypto"
repository = "https://github.com/emmett-framework/crypto"

[build-system]
requires = ["maturin>=0.11,<0.12"]
build-backend = "maturin"

[tool.maturin]
sdist-include = [
    "Cargo.lock",
    "emmett_crypto/*.py",
    "tests/*.py"
]
strip = true
